.venv/
# yolo_annotator/db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.egg
*.coverage
*.mypy_cache/
*.pytest_cache/
*.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.tgz
*.tar
*.log
*.out